.container {
  display: flex;
  width: 100%;
  background-color: #de9c51;
  color: white;
  justify-content: flex-end;
}
.main {
  background-color: #fbf4f0;
  color: #994e21;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item {
  padding: 8px;
}
.link.item {
  margin: auto;
}
h3 {
  text-align: center;
}
